<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>

    <!-- Add the following keys -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to select images.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app requires access to your camera to take photos.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app requires access to your photo library to save images.</string>
</dict>
</plist>
